proyecto_yolo/train/
proyecto_yolo/test/
proyecto_yolo/valid/
proyecto_yolo/runs/
proyecto_yolo/fotos_trabajadores/
proyecto_yolo/evidencias/
proyecto_yolo/.venv/
proyecto_yolo/__pycache__/
*.pt

argos-server/target/
argos-server/project/target/
argos-server/project/project/target/
argos-server/logs/
argos-server/argos_auditoria.db
argos-server/RUNNING_PID


.vscode/
.bloop/
.metals/
.bsp/
.scala-build/