# Bases de datos locales
*.db
*.sqlite
argos_auditoria.db

# Carpetas de compilacion de Scala/sbt y Play Framework
logs/
target/
project/target/
project/project/target/
/RUNNING_PID

# Archivos de IDEs (VS Code, IntelliJ, Eclipse)
.metals/
.bloop/
.vscode/
/.bsp/
/.idea/
/.idea_modules/
/.classpath/
/.project/
/.settings/

# Archivos de cache y configuración temporal
.cache/
.history/
*.log